# Ignore all node_modules folders
**/node_modules/

# Ignore environment files
**/.env

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS files
.DS_Store

# Ignore build/output dirs
frontend/dist/
frontend/build/
backend/dist/
backend/build/

# Docker Compose override (if you use it locally)
docker-compose.override.yml
